.todoStatus {
  font-size: 30px;
}

.todoStatusTitle p {
  display: inline-block;
  margin-left: 15px;
}

.todoCard {
  display: inline-block;
  width: 276px;
  margin: 10px;
}

.dialogTodo {
  display: inline-block;
}

.inputTodoDeadline {
  width: 97%;
  height: 50px;
  color: #797979;
  font-size: 17px;
  font-weight: 600;
  padding-left: 10px;
  border: 1px solid #cfcece;
  border-radius: 4px;
}
